@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  color: #333333;
  font-family: Poppins;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 650px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  border-top: 1px solid #383030;
  margin-top: 16px;
  padding: 16px 0;
  font-weight: 300;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

header a {
  text-decoration: none;
  color: #888888;
  margin-right: 16px;
  font-size: 25px;
  font-weight: 400;
}

.potrait {
  width: 330px;
}

input {
  border: 1px solid #716f6f;
  border-radius: 6px;
  padding: 6px;
}

button {
  border: 1px solid #888888;
  border-radius: 6px;
  background-color: rgb(201, 183, 183);
  cursor: pointer;
  padding: 6px;
}

#message-1,
#message-2 {
  font-weight: 300;
}

.index-class {
  font-weight: 300;
}

p {
  font-size: 20px;
}
