<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/pngicon.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Soham Mukherjee. It uses data from <a href="https://www.mapbox.com/" style="text-decoration: none;">mapbox</a> and <a href="https://weatherstack.com/" style="text-decoration: none;">weatherstack</a> sites.</p>You can use this site to get the temperature and chances of rainfall at any place.
    </div>
    {{>footer}}
  </body>
</html>