<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/pngicon.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content about">
      {{>header}}
      <h3>A weather application that uses the <a href="https://www.mapbox.com/" style="text-decoration: none;">mapbox</a> and <a href="https://weatherstack.com/" style="text-decoration: none;">weatherstack</a> APIs to allow users to search for and view the weather in cities worldwide</h3>
    </div>
    {{>footer}}
  </body>
</html>